body {
    font-family: "Lato",sans-serif; 
    font-style: normal; 
    font-weight: 300; 
    margin: 40px;
}

h2{ 

    
}

#top {
    width:1350;
    height:700;
}

#firstmap path {
    cursor: pointer;
}


div#firstmap{
    width:740;
    float:left;
}

div#firstmapdata{
    margin-left:740;
    width:550;
}

#countries .pressedBest {
    fill: #003300;
}

#countries .pressedMidHigh {
    fill: #008000;
}

#countries .pressedMidLow {
    fill: #00dd00;
}

#countries .pressedLow {
    fill: #80ff80;
}

#countries .active {
    fill: #FF0000;
}

.countryLegendText {
    font-size:14px;
    font-weight:normal;
}

#fmd_title{
    text-align:center;
}

#fmd_info{
    width:550;
    font-size:normal;
}

#fmd_ranking{
    width:550;
    text-align:center;
    font-size:80%;
}

#fmd_ihdi {
    width:270;
    text-align:center;
    display:block;
    float:left;
}

#fmd_hdi {
    margin-left:300;
    width:250;
}

#fmd_button{
    margin-top:50px;
    margin-left:50px;
    width:550;
}
.toggle-button-text {
    font-size:75%;
}

.hdiLine{
    fill:none;
    stroke: red;
    stroke-opacity: .25;
    stroke-width:2;
}

.graphLabel {
    font-size:75%;
}
.graphLabelSmall{
    font-size:60%;
}

#middle {
    margin-top:25px;
}

#middlemap {
    width:900;
    float:left;
}

#middlemap path{
    cursor: pointer;
}

.worstGII{
    fill: #FF0000;
    background: #FF0000;
}

.badGII{
    fill: #FF9000;
    background: #FF9000;
}

.averageGII{
    fill:#D0FF00;
    background:#D0FF00;
}

.greatGII{
    fill:#80FF00;
    background:#80FF00;
}

.bestGII{
    fill:#00FF00;
    background:#00FF00;
}

#middlemap .active{
    fill:#0066ff;
}

#middlegraph{
    margin-left:910px;
    width:500;
}

#middlegraph div {
    font: 10px sans-serif;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: black;
    font-weight:bold;
}

.tooltip{
    position:absolute;
    text-align:center;
    width:120px;
    height:70px;
    padding: 2px;
    padding-top:10px;
    font:12px sans-serif;
    background:black;
    color:white;
    border-radius: 15px;
}



#bubble {
    float:left;
    margin-top:50px;
}

#bubblegraph{
    width:900;
    float:left;
}


#bubblesliderwrap{
    margin-left:15px;
    width:300px;
    font-size:16px;
    float:left;
}


#gdp {
    float:left;
    margin-top:50px;
}

#gdpgraph {
    width:900;
    float:left;
}


#gdpsliderwrap{
    margin-left:15px;
    width:300px;
    font-size:16px;
    float:left;
}


#amount{
    font-size:14px;
    font-weight:normal;
}


